@model BJProduction.Models.Purchase_Order

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/index.cshtml";
}

<div class="main-card mb-3 card animated fadeIn ">
    <div class="card-body">
        <h5 class="card-title">Purchase Order</h5>
        <div class="form-row">
            <div class="col-md-4">
                <div class="position-relative form-group"><label for="" class="">Company</label>@Html.DropDownList("Companyid", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group"><label for="" class="">Purchase Order</label>@Html.EditorFor(model => model.order_no, new { htmlAttributes = new { @class = "form-control" } })</div>
            </div>
            <div class="col-md-3">
                <div class="position-relative form-group"><label for="" class="">Lot Number</label><input name="" id="Lot" type="text" class="form-control"></div>
            </div>
            <div class="col-md-2">
                <div class="position-relative form-group">
                    <label for="" class=""> </label>
                    <button id="Gen" class="mb-2 mr-2 btn btn-success btn-primary btn-lg btn-block">
                        Go
                    </button>
                </div>
            </div>

        </div>

        <div class="form-row Header_Section_1">
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Purchase Date</label>@Html.EditorFor(model => model.purchase_date, new { htmlAttributes = new { @class = "form-control", @data_toggle = "datepicker" } })</div>
            </div>

            <div class="col-md-4">
                <div class="position-relative form-group"><label for="" class="">Supplier</label> @Html.DropDownList("Vendorid", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group"><label for="" class="">LC Number</label>@Html.EditorFor(model => model.lc_number, new { htmlAttributes = new { @class = "form-control" } })</div>
            </div>
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">LC Date</label>@Html.EditorFor(model => model.lc_date, new { htmlAttributes = new { @class = "form-control", @data_toggle = "datepicker" } })</div>
            </div>


        </div>
        <div class="form-row Header_Section_2">
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Country</label>@Html.DropDownList("Locationid", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Purchase Type</label><input disabled="" name="" id="PurchaseType" type="text" class="form-control"></div>
            </div>
        </div>

        @*<button class="mt-2 btn btn-primary">Save</button>*@

    </div>
</div>
<div class="main-card mb-3 card animated fadeIn ProductAttr_Section">
    <div class="card-body">
        <h5 class="card-title">Product Type</h5>
        <div class="form-row">
            <div class="col-md-3">
                <div class="position-relative form-group"><label for="" class="">Product Type</label> @Html.DropDownList("Product_Typeid", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Total Count</label><input id="Total_Count" class="form-control"></div>
            </div>
            <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Arrival Date</label><input id="Arrival_Date" class="form-control" , data-toggle="datepicker"></div>
            </div>
            <div class="col-md-2 MainFeature">

            </div>
            <div class="col-md-2 MainUnit">
                <div class="position-relative form-group"><label for="" class="">Unit</label><select class="form-control" id="MainUnit"></select></div>
            </div>
        </div>
        <hr />
        <div id="DynaComb" class="">
            <div id="1" class="form-row">
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div id="DynaComb2" class="">
            <div id="1" class="form-row">
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <hr />

        <div class="form-row">
            <!--    <div class="col-md-2">
                <div class="position-relative form-group"><label for="" class="">Multisite</label><input type="checkbox" class="form-control Multisite"></div>
            </div>
                <div class="position-relative form-check form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input Multisite"> Multisite
                </label>
            </div>
                <div class="form-check">
                <label style="padding-right:5px" for="inlineCheckbox1" class="form-check-label">Multisite</label><input class="Multisite" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="default">

            </div> -->
            <div class="col-md-2 SiteLoader">
                @*<div class="position-relative form-group"><label for="" class="">Site</label> <select class="form-control Site"></select></div>*@
            </div>
            <div class="col-md-2 WarehouseLoader">
                @*<div class="position-relative form-group"><label for="" class="">Warehouse</label><input class="form-control"></div>*@
            </div>
            <div class="col-md-2 SiteProductCount">

            </div>

            <div class="col-md-2">
                <div class="position-relative form-group">
                    <label for="" class=""> </label>
                    <button id="GenerateDBtn" class="mb-2 mr-2 btn btn-success btn-primary btn-lg btn-block">
                        Generate Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card animated fadeIn ProductDtl_Section">
    <div class="card-body">
        <h5 class="card-title">Products</h5>
        <table class="mb-0 table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Serial No.</th>
                    <th>Weight</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody id="GeneratedRows">
            </tbody>
        </table>
    </div>
</div>
<div class="Button_Section" style=" position: fixed; bottom: 40px; right: 40px">
    <button class="btn btn-danger btn-lg">Cancel</button>
    <button id="SBTN" class="btn btn-success btn-lg">Save</button>
    <button id="SubmitBtn" class="btn btn-info btn-lg">Submit</button>
</div>
<div class="body-block-example-2 d-none">
    <div class="loader bg-transparent no-shadow">
        <div class="ball-pulse-rise">
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
 $(document.body).on("click", "#GenerateDBtn", function() {

    var SiteProductCount = $(".SiteProductCountVal").val();
    if (SiteProductCount.length != 0) {
        for (let i = 0; i < SiteProductCount; i++) {
            $("#GeneratedRows").append("<tr><th class=\"RowNumber\" scope =\"row\">" + (i + 1) + "</th><td><input class=\"form-control SLN\"></td><td><input class=\"form-control QTYVal\"></td><td class =\" Unit\">KG</td></tr>")
        }
        $(this).addClass("disabled").attr("disabled", "");

    }
    else {
        alert("Please Input Number of Rows to be Generated")
    }
});
$(document).ready(function() {

    $("#Featureid").empty();
    $(".Site").empty();
    $(".Warehouse").empty();
    $("#SubmitBtn").prop("disabled", true);
    var prodtid = $("#Product_Typeid").val();
    if (prodtid != undefined && prodtid != '') {
        MainFeature_Id = null;
        LoadDynamicFeature(prodtid);
        @* $.ajax({
            type: "POST",
            url: '@Url.Action("GetFid", "Purchase_Order")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function(data) {
                $("#Featureid").empty();
                $("#DynaComb").empty();
                $(".MainFeature").empty();
                $(".MainUnit").empty();
                $("#Featureid").append("<option value=" + ">" + "---- Please Select Feature ----" + "</option>")
                var CounterA = 0;
                var CounterB = 1;
                $.each(data, function(key, value) {

                    if (value.status != "M" && value.Feature_Type.status != "T") {
                        if (CounterA == 0) {
                            $("#DynaComb").append("<div class=\"form-row\"></div>")
                        }
                        $("#DynaComb>:nth-child(" + CounterB + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><select id=\"" + value.Feature_Type.id + "\"  class=\"form-control FT\ AllItem" + value.Feature_Type.id + "\"></select></div></div>")
                        //$("#DynaComb>:nth-child(" + CounterB + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><select id=\"A\"  class=\"form-control FT\ AllItem" + value.Feature_Type.id + "\"></select></div></div>")
                        $("#Featureid").append("<option value=" + value.Feature_Type.id + ">" + value.Feature_Type.type_name + "</option>")
                        CounterA++;
                        if (CounterA >= 6) {
                            CounterB++;
                            CounterA = 0;
                        }
                    }



                    else {
                        $(".MainFeature").append("<div class= \"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><input id=\"MainFeatureValue\" class=\"form-control\"></div>")
                        MainFeature_Id = value.Feature_Type.id;
                        var json = {
                            id: MainFeature_Id
                        }
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetUnit", "Purchase_Order")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            success: function(data) {

                                $(".MainUnit").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Unit</label><select class=\"form-control\" id=\"MainUnit\"></select></div>");
                                $.each(data, function(key, value) {
                                    // console.log(value);
                                    $("#MainUnit").append("<option value=\"" + value.Unit_Measurement.id + "\">" + value.Unit_Measurement.code + "</option>");
                                });
                            }
                        });
                    }
                });
                $(".FT").each(function() {
                    var fid = this.id;
                    if (fid != undefined && fid != '') {
                        var json = {
                            id: fid
                        }
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetFt", "Purchase_Order")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            success: function(data) {

                                $.each(data, function(key, value) {
                                    var s = $("#DynaComb");
                                    // console.log(s);
                                    $('#' + fid).append("<option value=\"" + value.id + "\">" + value.feature_name + "</option>");
                                });
                            }
                        });
                    }
                })
            }
        });*@
    }

    $(".Warehouse").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Warehouse</label><select class=\"form-control\"></select></div>");
    var compid = $("#Companyid").val();


    var Country = $("#Locationid  option:selected").text();
    if (Country == 'Bangladesh') {
        $("#PurchaseType").val("Local");
    }
    else {
        $("#PurchaseType").val("Import");
    }

    if (compid != undefined && compid != '') {
        var json = {
            id: compid
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSite", "Purchase_Order")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function(data) {
                $(".SiteLoader").empty();
                $(".SiteLoader").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Site</label><select class=\"form-control Site\"></select></div>")
                $.each(data, function(key, value) {
                    $(".Site").append("<option value=\"" + value.Locations.id + "\">" + value.Locations.name + "</option>");
                });

                var siteid = $(".Site").val();
                if (siteid != undefined && siteid != '') {
                    var json = {
                        id: siteid
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetWh", "Purchase_Order")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function(data) {
                            $(".WarehouseLoader").empty();
                            $(".SiteProductCount").empty();
                            $(".WarehouseLoader").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Warehouse</label><select class=\"form-control Warehouse\"></select></div>")
                            $(".SiteProductCount").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Count</label><input class=\"form-control SiteProductCountVal  input-mask-trigger\" data-inputmask=\"'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true\" im-insert=\"true\"></div>")
                            $.each(data, function(key, value) {
                                //alert("hi");
                                $(".Warehouse").append("<option value=\"" + value.id + "\">" + value.name + "</option>");

                            });
                        }
                    });
                }
            }
        });
    }
    $(".Header_Section_1").hide();
    $(".Header_Section_2").hide();
    $(".ProductAttr_Section").hide();
    $(".ProductDtl_Section").hide();
    $(".Button_Section").hide();
});


// Product Type Change Event
$(document.body).on("change", "#Product_Typeid", function() {
    LoadDynamicFeature($(this).val());

});
// Site Change Event
$(document.body).on("change", ".Site", function() {
    var siteid = $(this).val();
    if (siteid != undefined && siteid != '') {
        var json = {
            id: siteid
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetWh", "Purchase_Order")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function(data) {
                $(".WarehouseLoader").empty();
                $(".SiteProductCount").empty();
                $(".WarehouseLoader").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Warehouse</label><select class=\"form-control Warehouse\"></select></div>")
                $(".SiteProductCount").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Count</label><input class=\"form-control SiteProductCountVal\"></div>")
                $.each(data, function(key, value) {
                    //alert("hi");
                    $(".Warehouse").append("<option value=\"" + value.id + "\">" + value.name + "</option>");

                });
            }
        });
    }
});

// Declaring Global Variable,
// VarData = All Single Select or Input elements value. (Arr)
// Dynamic_Attrs = All Dynamic Product Feature Type. (Arr)
// Product_Details = Product Serial and Table Data. (Arr)
// DTS= Data to Save on Submit or Save. (Arr)

var Company_Id, Order_No, Purchase_Date, Vendor_Id, LC_Number, LC_Date, Country_Id, Purchase_Type, Product_Type_Id, Total_Count, Arrival_Date, MainFeature_Id, MainFeature_Value, MainFeature_Unit, Site_Id, Warehouse_Id, Product_Count, Lot_Number;
var Dynamic_Attr = [],
    Dynamic_AttrTxt = [],
    Products_Details = [],
    VarData = [],
    DTS = [];

$("#SBTN").click(function() {
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": true,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "30000",
        "extendedTimeOut": "30000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    VarData, Dynamic_Attr, Products_Details, DTS = null;

    Company_Id = $("#Companyid").val();
    Vendor_Id = $("#Vendorid").val();
    Product_Type_Id = $("#Product_Typeid").val();
    Total_Count = $("#Total_Count").val();
    //MainFeature_Id = ""; //Data loaded from Product Type On Change Event, Product Type Load Event.
    MainFeature_Value = $("#MainFeatureValue").val();
    Main_Unit = $("#MainUnit").val();
    Country_Id = $("#Locationid").val();
    Order_No = $("#order_no").val();
    LC_Number = $("#lc_number").val();
    LC_Date = $("#lc_date").val();
    Purchase_Date = $("#purchase_date").val();
    Arrival_Date = $("#Arrival_Date").val();
    Site_Id = $(".Site").val();
    Warehouse_Id = $(".Warehouse").val();
    Lot_Number = $("#Lot").val();
    VarData = [Company_Id, Vendor_Id, Product_Type_Id, Total_Count, MainFeature_Id, MainFeature_Value, Main_Unit, Country_Id, Order_No, LC_Number, LC_Date, Purchase_Date, Arrival_Date, Site_Id, Warehouse_Id, Lot_Number]

    $("#DynaComb > div > div > div > select").each(function() {
        Dyna_Id = this.getAttribute('id');
        Dyna_Value = $(this).val();
        Dynamic_Attr.push([this.getAttribute('id'), $(this).val()]);
    });
    $("#DynaComb2 > div > div > div > input").each(function() {
        Dyna_Id = this.getAttribute('id');
        Dyna_Value = $(this).val();
        Dynamic_AttrTxt.push([this.getAttribute('id'), $(this).val(), $(this).attr("unitvalue")]);
    });

    $("#GeneratedRows > tr").each(function() {
        Products_Details.push([$(this).find(".RowNumber").html(), $(this).find(".SLN").val(), $(this).find(".QTYVal").val(), $(this).find(".Unit").html()]);
    });

    DTS = [VarData, Dynamic_Attr, Products_Details, Dynamic_AttrTxt];
    //console.log(DTS);


    var postData = {
        values: DTS
    };
    $.ajax({
        type: "POST",
        url: '@Url.Action("SaveData", "Purchase_Order")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        success: function(data) {
            //alert(data);
            //if (data.length != null) {

            //    toastr.error(data, data.length);
            //}
            //else {
            //    toastr.success(data, data.length);
            //}
        }
    });

    $("#SubmitBtn").prop("disabled", false);
    $(this).prop("disabled", true);
});

$("#SubmitBtn").click(function() {
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": true,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "30000",
        "extendedTimeOut": "30000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


    Order_No = $("#order_no").val();
    Lot_Number = $("#Lot").val();

    var OrderLot = [];
    OrderLot = [Order_No, Lot_Number]


    var postData = {
        values: OrderLot
    };
    $.ajax({
        type: "POST",
        url: '@Url.Action("SubmitData", "Purchase_Order")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        success: function(data) {

            alert("Success")
        }
    });
    $(this).prop("disabled", true);
});




$("#Gen").click(function() {
    $("#GeneratedRows").empty();
    $.blockUI.defaults = {
        timeout: 0,
        overlayCSS: {
            backgroundColor: '#fff',
            opacity: 0.7,
            cursor: 'wait'
        },

    }

    var AllData;
    var CPL = [$("#Companyid").val(), $("#order_no").val(), $("#Lot").val()];
    $("#purchase_date").empty();
    $("#lc_number").empty();
    $("#lc_date").empty();
    var postData = {
        cpl: CPL
    };
    $.blockUI({
        message: $('.body-block-example-2')
    });


    $.ajax({

        type: "POST",
        url: '@Url.Action("GetFormData", "Purchase_Order")',
        contentType: "application/json; charset=utf-8",

        data: JSON.stringify(postData),
        async: false,
        success: function(data) {
            if (data[0][0] == "F") {
                $(".Header_Section_1").show();
                $(".Header_Section_2").show();
                $(".ProductAttr_Section").show();
                $(".ProductDtl_Section").show();
                $(".Button_Section").show();
                var pid = data[1][0].Product_Typeid;
                var mui = data[1][0].Unit_Measurementid
                var mfv = data[1][0].pur_count
                AllData = data;
                //console.log(data)
                $("#Product_Typeid").val(pid);
                console.log(pid)
                // Dyna Attr
                LoadDynamicFeature(pid);
                // Loop dynamic attr value
                //console.log(AllData[3]);
                Filldata(AllData[3]);
                $("#MainFeatureValue").val(mfv);
                $("#MainUnit").val(mui);
                // Dyna Attr

                // Site and Warehouse
                var json = {
                    id: AllData[1][0].Companyid
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSite", "Purchase_Order")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $(".SiteLoader").empty();
                        $(".SiteLoader").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Site</label><select class=\"form-control Site\"></select></div>")
                        $.each(data, function(key, value) {
                            $(".Site").append("<option value=\"" + value.Locations.id + "\">" + value.Locations.name + "</option>");
                        });
                        $(".Site").val(AllData[4][0].parent_location);
                        var siteid = $(".Site").val();
                        if (siteid != undefined && siteid != '') {
                            var json = {
                                id: siteid
                            }
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetWh", "Purchase_Order")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(json),
                                success: function(data) {
                                    $(".WarehouseLoader").empty();
                                    $(".SiteProductCount").empty();
                                    $(".WarehouseLoader").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Warehouse</label><select class=\"form-control Warehouse\"></select></div>")
                                    $(".SiteProductCount").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Count</label><input class=\"form-control SiteProductCountVal  input-mask-trigger\" data-inputmask=\"'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true\" im-insert=\"true\"></div>")
                                    $.each(data, function(key, value) {
                                        //alert("hi");
                                        $(".Warehouse").append("<option value=\"" + value.id + "\">" + value.name + "</option>");

                                    });

                                    $(".Warehouse").val(AllData[4][0].id);

                                }
                            });
                        }
                    }
                });

                // Site and Warehouse

                //console.log(data[2])
                if (data[0][1] == "C") {
                    $("#Locationid").prop("disabled", true);
                    $("#Vendorid").prop("disabled", true);
                    $("#lc_number").prop("disabled", true);
                    $("#lc_date").prop("disabled", true);
                    $("#purchase_date").prop("disabled", true);
                }
                else {
                    $("#Locationid").prop("disabled", false);
                    $("#Vendorid").prop("disabled", false);
                    $("#lc_number").prop("disabled", false);
                    $("#lc_date").prop("disabled", false);
                    $("#purchase_date").prop("disabled", false);
                }

                $("#purchase_date").val(moment(data[1][0].purchase_date).format("MM/DD/YYYY"));
                $("#lc_number").val(data[1][0].lc_number);
                $("#lc_date").val(moment(data[1][0].lc_date).format("MM/DD/YYYY"));
                $("#Locationid").val(data[1][0].Locationid);
                $("#Vendorid").val(data[1][0].Vendorid);
                var Country = $("#Locationid  option:selected").text();
                if (Country == 'Bangladesh') {
                    $("#PurchaseType").val("Local");
                }
                else {
                    $("#PurchaseType").val("Import");
                }
                $("#Product_Typeid").val(data[1][0].Product_Typeid);
                $("#Total_Count").val(data[1][0].qty);
                //console.log(data[2])
                //for (let i = 0; i < data[3].length; i++) {
                //    $('#' + data[3][i].Feature.Feature_Typeid).val(data[3][i].Feature.id);
                //}


                $("#Arrival_Date").val(moment(data[2][0].arrival_date).format("MM/DD/YYYY"));

                $(".SiteProductCountVal").val(data[2].length);
                $("#GeneratedRows").empty();
                //for loop
                for (let i = 0; i < $(".SiteProductCountVal").val(); i++) {
                    $("#GeneratedRows").append("<tr><th class=\"RowNumber\" scope =\"row\">" + (i + 1) + "</th><td><input class=\"form-control SLN\"></td><td><input class=\"form-control QTYVal\"></td><td class =\" Unit\">KG</td></tr>")
                }
                //$(this).addClass("disabled").attr("disabled", "");

                for (let i = 0; i < $(".SLN").length; i++) {
                    $(".SLN:eq(" + i + ")").val(data[2][i].Product.product_serial);
                    $(".QTYVal:eq(" + i + ")").val(data[2][i].pur_count);

                }
                //alert($(".SLN").length);
                // alert("Data Loaded Successfully.")

            }
            else {
                //data is now single dimenssional array.
                if (data[0] == "C") {
                    $(".Header_Section_1").hide();
                    $(".Header_Section_2").hide();
                    $(".ProductAttr_Section").hide();
                    $(".ProductDtl_Section").hide();
                    $(".Button_Section").hide();
                    //    alert("This order and Lot is Completed.");
                }
                else {
                    $(".Header_Section_1").show();
                    $(".Header_Section_2").show();
                    $(".ProductAttr_Section").show();
                    $(".ProductDtl_Section").show();
                    $(".Button_Section").show();

                    //  alert("Please Enter Data.");
                }
                if (data[1] == "C") {
                    //alert(data);
                    $("#Locationid").prop("disabled", true);
                    $("#Vendorid").prop("disabled", true);
                    $("#lc_number").prop("disabled", true);
                    $("#lc_date").prop("disabled", true);
                    $("#purchase_date").prop("disabled", true);
                }
                else {
                    $("#Locationid").prop("disabled", false);
                    $("#Vendorid").prop("disabled", false);
                    $("#lc_number").prop("disabled", false);
                    $("#lc_date").prop("disabled", false);
                    $("#purchase_date").prop("disabled", false);
                }

            }
            $.unblockUI();
        }


    });

})




// Productid change event (-)
// creating function (+)

function LoadDynamicFeature(productTypeId) {
    if (productTypeId != undefined && productTypeId != '') {
        MainFeature_Id = null;
        var json = {
            id: productTypeId
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFid", "Purchase_Order")', // Get Data to Generate all Combobox for Features
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            async: false,
            success: function(data) {
                $("#Featureid").empty();
                $("#DynaComb").empty();
                $("#DynaComb2").empty();
                $(".MainFeature").empty();
                $(".MainUnit").empty();
                $("#Featureid").append("<option value=" + ">" + "---- Please Select Feature ----" + "</option>")
                var CounterA = 0;
                var CounterB = 1;
                var CounterC = 0;
                var CounterD = 1;
                $.each(data, function(key, value) {

                    if (value.status != "M" && value.Feature_Type.status != "T") {
                        if (CounterA == 0) {
                            $("#DynaComb").append("<div class=\"form-row\"></div>")
                        }
                        $("#DynaComb>:nth-child(" + CounterB + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><select id=\"" + value.Feature_Type.id + "\"  class=\"form-control FT\ AllItem" + value.Feature_Type.id + "\"></select></div></div>")
                        //$("#DynaComb>:nth-child(" + CounterB + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><select id=\"A\"  class=\"form-control FT\ AllItem" + value.Feature_Type.id + "\"></select></div></div>")
                        $("#Featureid").append("<option value=" + value.Feature_Type.id + ">" + value.Feature_Type.type_name + "</option>")
                        CounterA++;
                        if (CounterA >= 6) {
                            CounterB++;
                            CounterA = 0;
                        }
                    }
                    else {
                        if (value.Feature_Type.status == "T" && value.status != "M") {

                            if (CounterC == 0) {
                                $("#DynaComb2").append("<div class=\"form-row\"></div>")
                            }
                            $("#DynaComb2>:nth-child(" + CounterD + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><input id=\"" + value.Feature_Type.id + "\"  class=\"form-control FeaturesTxtBox\ Text" + value.Feature_Type.id + "\"></input></div></div>")
                            $("#DynaComb2>:nth-child(" + CounterD + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">Unit</label><select id=\"" + value.Feature_Type.id + "\"  class=\"form-control FeaturesTxtBoxUnit DynaComb2FeatureUnit" + value.Feature_Type.id + "\"></select></div></div>")
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetUnit", "Purchase_Order")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({
                                    id: value.Feature_Type.id
                                }),
                                success: function(Unitdata) {
                                    //console.log(Unitdata)
                                    $.each(Unitdata, function(key, Unitvalue) {
                                        $(".DynaComb2FeatureUnit" + value.Feature_Type.id).append("<option value=\"" + Unitvalue.Unit_Measurement.id + "\">" + Unitvalue.Unit_Measurement.code + "</option>");
                                        // unitvalue

                                        $(".Text" + value.Feature_Type.id).attr("UnitValue", $(".DynaComb2FeatureUnit" + value.Feature_Type.id).val())
                                    });
                                }
                            });


                            CounterC++;
                            if (CounterC >= 3) {
                                CounterD++;
                                CounterC = 0;
                            }
                        }
                        else {
                            $(".MainFeature").append("<div class= \"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><input id=\"MainFeatureValue\" class=\"form-control\"></div>")
                            MainFeature_Id = value.Feature_Type.id;
                            var json = {
                                id: MainFeature_Id
                            }
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetUnit", "Purchase_Order")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(json),
                                success: function(data) {
                                    $(".MainUnit").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Unit</label><select class=\"form-control\" id=\"MainUnit\"></select></div>");
                                    $.each(data, function(key, value) {
                                        //console.log(value);
                                        $("#MainUnit").append("<option value=\"" + value.Unit_Measurement.id + "\">" + value.Unit_Measurement.code + "</option>");
                                    });
                                }
                            });
                        }
                    }
                });
                $(".FT").each(function() {
                    var fid = this.id;
                    if (fid != undefined && fid != '') {
                        var json = {
                            id: fid
                        }
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetFt", "Purchase_Order")', // Get Data to Fill Up all Generated Combobox with Features (Mainly Options)
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            async: false,
                            success: function(data) {

                                $.each(data, function(key, value) {

                                    var s = $("#DynaComb");
                                    //console.log(s);
                                    $('#' + fid).append("<option value=\"" + value.id + "\">" + value.feature_name + "</option>");
                                    //alert(value.feature_name + " " + value.id);
                                    //$("#A").append("<option value=" + value.id + ">" + value.feature_name + "</option>")
                                });
                            }
                        });
                    }
                })
            }
        });
    }


}


$(document.body).on("change", ".FeaturesTxtBoxUnit", function() {
    $(".Text" + $(this).attr("id")).attr("UnitValue", $(this).val())
})

function Filldata(dataGetFeatures) {
    // console.log(dataGetFeatures);
    for (let i = 0; i < dataGetFeatures.length; i++) {
        if (dataGetFeatures[i].Feature.Feature_Type.status != "T") {
            $('#' + dataGetFeatures[i].Feature.Feature_Typeid).val(dataGetFeatures[i].Feature.id);
        }
        else {

            $('#' + dataGetFeatures[i].Feature.Feature_Typeid).val(dataGetFeatures[i].Value);
            $('.DynaComb2FeatureUnit' + dataGetFeatures[i].Feature.Feature_Typeid).val(dataGetFeatures[i].Unit_Measurementid);
        }

        //$('#' + dt[i].Feature.Feature_Typeid).val(dt[i].Feature.id);
    }
}


    </script>

}
