@model BJProduction.Models.Production_Indent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/index.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-display1 text-success"></i>
            </div>
            <div>
                Production Indent
                <div class="page-title-subheading">Short Desc about production indent</div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow btn btn-info">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-list-alt"></i>
                    </span>
                    Indent List
                </button>
                <!--
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span>
                                    Inbox
                                </span>
                                <div class="ml-auto badge badge-pill badge-secondary">86</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span>
                                    Book
                                </span>
                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-picture"></i>
                                <span>
                                    Picture
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a disabled="" class="nav-link disabled">
                                <i class="nav-link-icon lnr-file-empty"></i>
                                <span>
                                    File Disabled
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </div>
</div>


<div class="tab-content Indent">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-md-8">

                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        @*<h5 class="card-title">Production Indent</h5>*@
                        <div class="form-row ">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="">Company</label>
                                    <select id="Companies" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="">Site</label>
                                    <select id="Sites" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="">Machine</label>
                                    @Html.DropDownList("Machineid", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="" class="">QTY</label> @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control", @Type = "" } })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="" class="">Batch Count</label> @Html.EditorFor(model => model.batch_count, new { htmlAttributes = new { @class = "form-control", @Type = "" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="">Indent Number</label> @Html.EditorFor(model => model.indent_no, new { htmlAttributes = new { @class = "form-control", @Type = "" } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="">Indent Date</label> @Html.EditorFor(model => model.indent_date, new { htmlAttributes = new { @class = "form-control", @Type = "" } })
                                </div>
                            </div>

                        </div>

                    </div>
                    @*<button class="mt-2 btn btn-primary">Save</button>*@

                </div>

            </div>
            <div class="col-md-4">
                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        @*<h5 class="card-title">Production Indent</h5>*@
                        <div class="form-row">
                            <div class="col-md-12">
                                @* <div class="position-relative form-group"><label for="" class="">Shift</label>@Html.DropDownList("Shiftid", null, htmlAttributes: new { @class = "form-control" })<span id="duration" class="badge badge-pill badge-success pull-right" style="margin-top: 2px"></span></div>*@
                                <div class="position-relative form-group">
                                    <label for="" class="">Shift</label>@Html.DropDownList("Shiftid", null, htmlAttributes: new { @class = "form-control" })
                                    <span id="duration" class="badge badge-pill badge-success pull-right" style="position: absolute; right: 0;top:0"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="" class="">Start</label>
                                    @Html.EditorFor(model => model.shift_start, new { htmlAttributes = new { @class = "form-control", @Type = "" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="" class="">End</label>
                                    <input id="EndTime" class="form-control">
                                </div>
                            </div>
                        </div>

                        @*<button class="mt-2 btn btn-primary">Save</button>*@

                    </div>
                </div>
            </div>
            <div class="col-md-12" id="ProductDetails">
                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        <h5 class="card-title">@*Production Indent*@</h5>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="" class="">Product Type</label>
                                    @Html.DropDownList("Product_Typeid", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-2 offset-md-5 MainFeature">

                            </div>
                            <div class="col-md-2 MainUnit">

                            </div>
                        </div>
                        <hr />
                        <div id="DynaComb" class="">
                            <div id="1" class="form-row">
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                        <div id="DynaComb2" class="">
                            <div id="1" class="form-row">
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<button class="mt-2 btn btn-primary">Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div id="production" class="tab-content Production Consumption">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-md-7">

                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        @*<h5 class="card-title">Production Indent</h5>*@
                        <div class="form-row">

                            <div class="col-md-2">
                                <div class="position-relative form-group"><label for="" class="">From WH</label><Select id="" class="form-control Warehouse"></Select></div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group"><label for="" class="">Product Type</label><Select id="ProductTypeidCon" class="form-control"></Select></div>
                            </div>

                            <div class="col-md-5">
                                <div class="position-relative form-group"><label for="" class="">Product Serial</label><input id="ProductsCons" class="form-control"></input></div>
                            </div>

                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="" class="" style="color:white"> .</label>
                                    <button id="ConsumptionBtn" class="mb-2 mr-2 btn btn-success btn-primary btn-lg btn-block">
                                        Consume
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    @*<button class="mt-2 btn btn-primary">Save</button>*@

                </div>

            </div>
            <div class="col-md-5">
                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        @*<h5 class="card-title">Production Indent</h5>*@
                        <div class="form-row">

                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="" class="">To WH</label><Select class="form-control Warehouse"></Select></div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="" class="">Weight</label><input id="ProductionMUnit" class="form-control"></input></div>
                            </div>

                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="" class="" style="color:white"> .</label>
                                    <button id="PrintBtn" class="mb-2 mr-2 btn btn-success btn-primary btn-lg btn-block">
                                        Print
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <table class="mb-0 table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Serial No.</th>
                                        <th>Weight</th>
                                        <th>Unit</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody id="ProducedItems"></tbody>
                            </table>
                        </div>
                    </div>

                    @*<button class="mt-2 btn btn-primary">Save</button>*@

                </div>
            </div>
        </div>
    </div>
</div>
<div id="productionend" class="tab-content animated fadeInDown" style="display:none">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-md-6">

                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        <h5 class="card-title">Consumption residuals</h5>
                        <div class="form-row">

                        </div>

                    </div>
                    @*<button class="mt-2 btn btn-primary">Save</button>*@

                </div>

            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card animated fadeIn ">
                    <div class="card-body">
                        <h5 class="card-title">Wastage</h5>
                        <div class="form-row">
                            <div class="col-md-8">
                                <div class="position-relative form-group"><label for="" class="">Wastage Quantity</label><input id="Wastage" class="form-control"></input></div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="" class="">Wastage Unit</label><select id="WastageUnit" class="form-control"></select></div>
                            </div>
                        </div>

                    </div>

                    @*<button class="mt-2 btn btn-primary">Save</button>*@

                </div>
            </div>
        </div>
    </div>
</div>
<div class="Button_Section" style=" position: fixed; bottom: 40px; right: 40px">
    <button class="btn btn-danger btn-lg">Cancel</button>
    <button id="Update" class="btn btn-success btn-lg">Update</button>
    <button id="Start" class="btn btn-info btn-lg">Start</button>
    <button id="CompleteProduction" class="btn btn-info btn-lg animated">Production Complete</button>
    <button id="CompleteIndent" class="btn btn-info btn-lg animated" style="display:none">Complete Indent</button>
</div>
<div class="body-block-example-2 d-none">
    <div class="loader bg-transparent no-shadow">
        <div class="ball-pulse-rise">
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
            <div style="background-color: rgb(253, 126, 20);"></div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
 $("#shift_start").hover(function() {
    $("#ProductDetails").css("z-index", "-1");
}).blur(function() {
    $("#ProductDetails").css("z-index", "unset");
});
$(function() {
    $('#shift_start').datetimepicker().on('dp.change', function(e) {
        SetEndingDateTime($("#shift_start").val(), GetShiftDuration($("#Shiftid").val()));
    })
});




@* $(document).ready(function() {

    $.ajax({
        type: "POST",
        url: '@Url.Action("GetCompany", "Home")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(null),
        success: function(data) {
            $("#Companies").empty();
            $.each(data, function(key, value) {
                $("#Companies").append("<option value=" + value.Id + ">" + value.Company_Name + "</option>")
            });

            var CompanyId = $("#Companies").val();
            LoadSite(CompanyId);
        }
    });
    $("#duration").html(GetShiftDuration($("#Shiftid").val()) + " Hours");

});*@

        $(document).ready(function () {
            $(".Production").hide();
    LoadCompany("Load");
    LoadDynamicFeature("", $("#Product_Typeid").val());
    $("#MainFeatureValue").val(@Model.prod_count);
    $("#MainUnit").val(@Model.Unit_Measurementid);
    if ("@Model.status" == "S") {
        $(".Production").show();
        $(".Indent input").prop("disabled", true);
        $(".Indent select").prop("disabled", true);
        $('#clock').prop("disabled", true);
        $("#Update").hide();
        $("#Start").hide()
        LoadWarehouse($("#Sites").val());
        LoadProducedItems(@Model.id);
        smoothScroll('production')
        LoadProductTypeCon();


        }
    });



    function LoadWarehouse(siteId) {

              $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetWh", "Purchase_Order")',
                        contentType: "application/json; charset=utf-8",
                  data: JSON.stringify({ id: siteId}),
                        success: function(data) {
                          $.each(data, function(key, value) {
                                //alert("hi");
                                $(".Warehouse").append("<option value=\"" + value.id + "\">" + value.name + "</option>");

                            });
                        }
                    });

        }




function LoadCompany(eventType) {
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetCompany", "Home")',
        contentType: "application/json; charset=utf-8",
        async: false,
        data: JSON.stringify(null),
        success: function(data) {
            $("#Companies").empty();
            $.each(data, function(key, value) {
                $("#Companies").append("<option value=" + value.Id + ">" + value.Company_Name + "</option>")
            });
            if (eventType == "Load") {
                var companysite = GetCompanySite($("#Machineid").val());
                $("#Companies").val(companysite[0]);
            }
            LoadSite($("#Companies").val(), "Load");
        }
    });
}

function LoadSite(companyid, eventType) {
    var json = {
        id: companyid
    }
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetSite", "Home")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(json),
        success: function(data) {
            $("#Sites").empty();
            $.each(data, function(key, value) {
                $("#Sites").append("<option value=\"" + value.Locations.id + "\">" + value.Locations.name + "</option>");
            });
            if (eventType != "Load") {
                LoadMachine(companyid, $("#Sites").val());
            }
            else {
                var companysite = GetCompanySite($("#Machineid").val());
                $("#Sites").val(companysite[1]);
                $("#Companies").val(companysite[0]);
            }
        }
    });
}

function LoadMachine(companyId, siteId) {
    var json = {
        id: [companyId, siteId]
    }
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetMachine", "Home")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(json),
        success: function(data) {
            $("#Machineid").empty();
            $.each(data, function(key, value) {
                $("#Machineid").append("<option value=\"" + value.id + "\">" + value.name + "</option>");
            });
            $("#DynaComb").empty();
            $("#DynaComb2").empty();
            $(".MainFeature").empty();
            $(".MainUnit").empty();
            LoadProductType($("#Machineid").val())
        }
    });

}

function GetCompanySite(Machineid) {
    var d = [];
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetCompanySite", "Production_Indent")',
        contentType: "application/json; charset:utf-8",
        data: JSON.stringify({
            id: Machineid
        }),
        async: false,
        success: function(CSData) {
            d = [CSData.Companyid, CSData.Locationid];
        }
    })
    return d;
}

function LoadProductType(machineId) {
    if (machineId != null) {
        var json = {
            id: machineId
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetProductId", "Home")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            async: false,
            success: function(data) {
                console.log(data)
                $("#Product_Typeid").empty();
                $.each(data, function(key, value) {
                    $("#Product_Typeid").append("<option value=\"" + value.id + "\">" + value.type_name + "</option>");
                });

            }
        });
    }
    else {
        $("#Product_Typeid").empty();
    }

    LoadDynamicFeature("", $("#Product_Typeid").val());
}

function LoadDynamicFeature(eventType, productid) {

    $.ajax({
        type: "POST",
        url: '@Url.Action("GetFid", "Purchase_Order")',
        contentType: "application/json; charset=utf-8",
        async: false,
        data: JSON.stringify({
            id: productid
        }),
        success: function(data) {
            $("#Featureid").empty();
            $("#DynaComb").empty();
            $("#DynaComb2").empty();
            $(".MainFeature").empty();
            $(".MainUnit").empty();
            // $("#Featureid").append("<option value=" + ">" + "---- Please Select Feature ----" + "</option>")
            var CounterA = 0;
            var CounterB = 1;
            var CounterC = 0;
            var CounterD = 1;
            $.each(data, function(key, value) {

                if (value.status != "M" && value.Feature_Type.status != "T") {
                    if (CounterA == 0) {
                        $("#DynaComb").append("<div class=\"form-row\"></div>")
                    }
                    $("#DynaComb>:nth-child(" + CounterB + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><select id=\"" + value.Feature_Type.id + "\"  class=\"form-control Features\ AllItem" + value.Feature_Type.id + "\"></select></div></div>")
                    //$("#Featureid").append("<option value=" + value.Feature_Type.id + ">" + value.Feature_Type.type_name + "</option>")
                    CounterA++;
                    if (CounterA >= 6) {
                        CounterB++;
                        CounterA = 0;
                    }
                }


                else {

                    if (value.Feature_Type.status == "T" && value.status != "M") {


                        if (CounterC == 0) {
                            $("#DynaComb2").append("<div class=\"form-row\"></div>")
                        }
                        $("#DynaComb2>:nth-child(" + CounterD + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><input id=\"" + value.Feature_Type.id + "\"  class=\"form-control FeaturesTxtBox\ Text" + value.Feature_Type.id + "\"></input></div></div>")
                             $("#DynaComb2>:nth-child(" + CounterD + ")").append("<div class=\"col-md-2\"><div class=\"position-relative form-group\" ><label for=\"\" class=\"\">Unit</label><select id=\"" + value.Feature_Type.id + "\"  class=\"form-control FeaturesTxtBoxUnit DynaComb2FeatureUnit" + value.Feature_Type.id + "\"></select></div></div>")

                             $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetUnit", "Purchase_Order")',
                            contentType: "application/json; charset=utf-8",
                                 data: JSON.stringify({ id: value.Feature_Type.id }),
                            success: function(Unitdata) {

                                $.each(Unitdata, function(key, Unitvalue) {
                                    $(".DynaComb2FeatureUnit" + value.Feature_Type.id).append("<option value=\"" + Unitvalue.Unit_Measurement.id + "\">" + Unitvalue.Unit_Measurement.code + "</option>");
                                    $(".Text" + value.Feature_Type.id).attr("UnitValue", Unitvalue.Unit_Measurement.id)
                                });
                            }
                        });


                               CounterC++;
                                if (CounterC >= 3) {
                                    CounterD++;
                                    CounterC = 0;
                                }

                    }
                    else {
                        $(".MainFeature").append("<div class= \"position-relative form-group\" ><label for=\"\" class=\"\">" + value.Feature_Type.type_name + "</label><input id=\"MainFeatureValue\" class=\"form-control\"></div>")
                        mainFeatureId = value.Feature_Type.id;
                        var json = {
                            id: mainFeatureId
                        }
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetUnit", "Purchase_Order")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            success: function(data) {

                                $(".MainUnit").append("<div class=\"position-relative form-group\"><label for=\"\" class=\"\">Unit</label><select class=\"form-control\" id=\"MainUnit\"></select></div>");
                                $.each(data, function(key, value) {
                                    $("#MainUnit").append("<option value=\"" + value.Unit_Measurement.id + "\">" + value.Unit_Measurement.code + "</option>");
                                });
                            }
                        });
                    }
                }
            });
            $(".Features").each(function() {
                var fid = this.id;
                if (fid != undefined && fid != '') {
                    var json2 = {
                        id: fid
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetFt", "Purchase_Order")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json2),
                        async: false,
                        success: function(data) {

                            $.each(data, function(key, value) {
                                $('#' + fid).append("<option value=\"" + value.id + "\">" + value.feature_name + "</option>");
                            });
                        }
                    });
                }
            })

            if (eventType != "change") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetFeatures", "Production_Indent")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        id: @Model.id
                    }),
                    async: false,
                    success: function(dataGetFeatures) {
                        console.log(dataGetFeatures);
                            $("#MainFeatureValue").val(@Model.prod_count);
                            $("#MainUnit").val(@Model.Unit_Measurementid);
                        // Loop dynamic attr value
                        for (let i = 0; i < dataGetFeatures.length; i++) {
                            if (dataGetFeatures[i].Feature_Type.status != "T") {
                                $('#' + dataGetFeatures[i].Feature.Feature_Typeid).val(dataGetFeatures[i].Feature.id);
                            }
                            else {

                                $('#' + dataGetFeatures[i].Feature_Typeid).val(dataGetFeatures[i].FeatureValue);
                                $('.DynaComb2FeatureUnit' + dataGetFeatures[i].Feature_Typeid).val(dataGetFeatures[i].Unit_Measurementid);
                            }
                        }
                    }
                })
            }
        }
    });
}

function GetShiftDuration(siteid) {
    var duration = 0;
    var json = {
        id: siteid
    }

    $.ajax({
        type: "POST",
        url: '@Url.Action("GetShiftHour", "Home")',
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(json),
        async: false,
        success: function(data) {
            duration = data;
        }
    })
    return duration;
}



function SetEndingDateTime(dt, duration) {
    $("#EndTime").val((moment(dt).add(duration, 'h')).format('MM/DD/YYYY hh:mm A'));
}

$(document.body).on("change", "#Companies", function() {
    LoadSite($(this).val(), event.type);
});

$(document.body).on("change", "#Sites", function() {
    LoadMachine($("#Companies").val(), $(this).val());
});
$(document.body).on("change", "#Machineid", function() {
    LoadProductType($(this).val());
});

$("#Shiftid").change(function() {
    $("#duration").html(GetShiftDuration($(this).val()) + " Hours");
    if (moment($("#shift_start").val()).isValid()) {
        SetEndingDateTime($("#shift_start").val(), GetShiftDuration($("#Shiftid").val()));
    }
    })














//Update Button Action

var machineId, shiftId, qty, batchCount, indentNo, indentDate, shiftStart, productTypeId, mainFeatureId, productCount, unitId;
var Dynamic_Attr = [],
    VarData = [],
    DTS = [],
    Dynamic_AttrTxt = [];


$("#Update").click(function() {
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-full-width",
        "preventDuplicates": true,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "30000",
        "extendedTimeOut": "30000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    VarData, Dynamic_Attr, DTS = null;


    machineId = $("#Machineid").val();
    shiftId = $("#Shiftid").val();
    qty = $("#qty").val();
    batchCount = $("#batch_count").val();
    indentNo = $("#indent_no").val();
    indentDate = $("#indent_date").val();
    shiftStart = $("#shift_start").val();
    productTypeId = $("#Product_Typeid").val();
    //mainFeatureId = $("#").val();
    productCount = $("#MainFeatureValue").val();
    unitId = $("#MainUnit").val();

    VarData = [machineId, shiftId, qty, batchCount, indentNo, indentDate, shiftStart, productTypeId, mainFeatureId, productCount, unitId, @Model.id]

    $("#DynaComb > div > div > div > select").each(function() {
        Dyna_Id = this.getAttribute('id');
        Dyna_Value = $(this).val();
        Dynamic_Attr.push([this.getAttribute('id'), $(this).val()]);
    });
    $("#DynaComb2 > div > div > div > input").each(function() {
        Dyna_Id = this.getAttribute('id');
        Dyna_Value = $(this).val();
        Dynamic_AttrTxt.push([this.getAttribute('id'), $(this).val(), $(this).attr("unitvalue")]);
    });

    DTS = [VarData, Dynamic_Attr, Dynamic_AttrTxt];
    console.log(DTS);
        var postData = {
        values: DTS
    };
    $.ajax({
        type: "POST",
        url: '@Url.Action("Update", "Production_Indent")',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        success: function(data) {
            alert(data);
            if (data[0].length != null) {

                toastr.error(data[0], data[0].length);
            }
            else {
                toastr.success(data[0], data[0].length);
            }
        }
    });


    $("#Start").prop("disabled", false);
    $(this).prop("disabled", false);
});

        $("#Start").click(function () {


                $.ajax({
        type: "POST",
        url: '@Url.Action("Start", "Production_Indent")',
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify({id:@Model.id}),
        async: false,
        success: function(data) {
            alert("Started")
            $("#Start").prop("disabled", false);
            $("#Update").prop("disabled", false);
            location.replace('@Url.Action("Edit", "Production_Indent")');

        }
    })



        })

        function LoadProducedItems(indentId) {


                  $.ajax({
                  type: "POST",
                  url: '@Url.Action("ProducedItems", "Production_Indent")',
                      contentType: "application/json;charset=utf-8",

                      data: JSON.stringify({ id: indentId}),
                  async: false,
                      success: function (data) {
                          var counter = 0;
                          var datalength = data.length;
                          $.each(data, function (key, value) {

                              $("#ProducedItems").append("<tr><td>" + (datalength - counter) + "</td><td>" + value.Product.product_serial + "</td><td>" + value.prod_count + "</td><td>" + value.Production_Indent.Unit_Measurement.code + "</td><td>" + moment(value.production_date).format("h:mm:ss a") + "</td></tr>");
                              counter++;
                     });
                  }
            })
        }

        $("#PrintBtn").click(function () {
            $("#ProducedItems").empty();
            var ProductionData = [@Model.id, $("#Product_Typeid").val(), $("#ProductionMUnit").val(), $(".Warehouse").val()];
              $.ajax({
                  type: "POST",
                  url: '@Url.Action("PrintandSave", "Production_Indent")',
                  contentType: "application/json;charset=utf-8",
                  data: JSON.stringify({ values:ProductionData}),
                  async: false,
                  success: function (data) {

                      $("#ProductionMUnit").val("");
                      var counter = 0;
                      var datalength = data.length;
                      $.each(data, function (key, value) {
                          $("#ProducedItems").append("<tr><td>" + (datalength - counter)+"</td><td>" + value.Product.product_serial + "</td><td>" + value.prod_count + "</td><td>" + value.Production_Indent.Unit_Measurement.code + "</td><td>" + moment(value.production_date).format("h:mm:ss a")+"</td></tr>");
                          counter++;
                      });
                  }
              })
        })


        $("#ConsumptionBtn").click(function(){

            alert("hello");
        })






        function updateClock() {
            $('#clock').val(moment().format('MM-DD-YY HH:mm:ss A'));
        }

        setInterval(updateClock, 1000);



        function smoothScroll(id) {
            var element = document.getElementById(id);
            var startY = window.pageYOffset;
            var stopY = element.offsetTop;
            var distance = stopY > startY ? stopY - startY : startY - stopY;
            if (distance < 100) {
                scrollTo(0, stopY); return;
            }
            var speed = Math.round(distance / 100);
            if (speed >= 20) speed = 20;
            var step = Math.round(distance / 50);
            var leapY = stopY > startY ? startY + step : startY - step;
            var timer = 0;
            if (stopY > startY) {
                for (var i = startY; i < stopY; i += step) {
                    setTimeout("window.scrollTo(0, " + leapY + ")", timer * speed);
                    leapY += step; if (leapY > stopY) leapY = stopY; timer++;

                } return;
            }
            for (var i = startY; i > stopY; i -= step) {
                setTimeout("window.scrollTo(0, " + leapY + ")", timer * speed);
                leapY -= step; if (leapY < stopY) leapY = stopY; timer++;
            }
        }



        function LoadProductTypeCon() {

             $.ajax({
                  type: "POST",
                  url: '@Url.Action("LoadProductTypeCon", "Production_Indent")',
                  contentType: "application/json;charset=utf-8",
                 data: JSON.stringify({ id: $("#Product_Typeid").val()}),
                  async: false,
                  success: function (data) {
                      $.each(data, function (key, value) {
                          $("#ProductTypeidCon").append("<option value=\"" + value.id + "\">" + value.type_name + "</option>");
                      });
                  }
              })


        }


        function LoadProduct(producttypeid) {

              $.ajax({
                  type: "POST",
                  url: '@Url.Action("LoadProduct", "Production_Indent")',
                  contentType: "application/json;charset=utf-8",
                 data: JSON.stringify({ id: $("#Product_Typeid").val()}),
                  async: false,
                  success: function (data) {
                      $.each(data, function (key, value) {
                          $("#ProductsCons").append("<option value=\"" + value.id + "\">" + value.type_name + "</option>");
                      });
                  }
              })
        }

        $(document.body).on("change", ".FeaturesTxtBoxUnit", function () {
            $(".Text" + $(this).attr("id")).attr("UnitValue", $(this).val())
        })


        $("#CompleteProduction").click(async function () {


            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

            for (var i = 0; i < 3; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }


            //const { value: formValues } = await Swal.fire({
            //    title: 'Multiple inputs',
            //    html:
            //        '<input id="swal-input1" class="swal2-input">' +
            //        '<input id="swal-input2" class="swal2-input">',
            //    focusConfirm: false,
            //    preConfirm: () => {
            //        return [
            //            document.getElementById('swal-input1').value,
            //            document.getElementById('swal-input2').value
            //        ]
            //    }
            //})
            //console.log(formValues)
            //if (formValues) {
            //    Swal.fire(JSON.stringify(formValues))
            //}


            const { value: ConfirmationValue } = await Swal.fire({
                title: 'Enter Below Text to Proceed',
                html: '<h4 style="font-weight: bold">' + text + '</h4>',
                input: 'text',
                inputLabel: text,
                inputValue: '',
                showCancelButton: false,
            })

            if (ConfirmationValue ==text) {
                $("#productionend").show();
                smoothScroll("productionend");

                $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetUnit", "Purchase_Order")',
                            contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ id: mainFeatureId }),
                            success: function(wastageUnit) {

                                $.each(wastageUnit, function (key, Unitvalue) {
                                    //console.log(wastageUnit);
                                    $("#WastageUnit").append("<option value=\"" + Unitvalue.Unit_Measurement.id + "\">" + Unitvalue.Unit_Measurement.code + "</option>");
                                });
                            }
                });
                $(".Production input, .Production select, .Production button").prop("disabled", true);
                $(this).hide();
                $("#CompleteIndent").show();
            }
        })
    </script>
}