@model GatePass.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
@{Layout = null; }

@{ 
    //string Grtm = "To Continue, Please Login.";

    //if (DateTime.Now.Hour >= 6 && DateTime.Now.Hour <=11)
    //{
    //    Grtm = "Hello Dear, Good Morning!";
    //}
    //else if (DateTime.Now.Hour >=12 && DateTime.Now.Hour <= 17)
    //{
    //    Grtm = "Hello Dear, Good Afternoon!";
    //}
    //else if (DateTime.Now.Hour >= 18 && DateTime.Now.Hour <= 19)
    //{
    //    Grtm = "Hello Dear, Good Evening!";
    //}
    Random rnd = new Random();
    int ss = rnd.Next(1, 45);
    string cls = "bgc" + ss.ToString();

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Color Gradient.css" rel="stylesheet" />
    <link href="~/Content/Loginpage.css" rel="stylesheet" />
  
</head>
<body class="@cls">
    <div class="container">
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="row">
                <div class="iconmelon">
                    <img src="~/Images/Sec/Logo/logo.png" />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title text-center">Login</div>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        <div class="input-group">
                           
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="input-group">
                            
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            </div>
                        <div class="form-group">
                            <div class="col-xs-10 T2">
                                <div class="checkbox T2 ZS">


                                            @Html.CheckBoxFor(m => m.RememberMe, new { data_on_label = "Yes", data_off_label = "No", @class = "bootstrap-switch" })
                                       
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "ckblbl" })
                                </div>
                            </div>
                            <div class="col-xs-2 T2">
                                <input type="submit" value="Log in" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
    <script src="~/Scripts/Part.js"></script>
    <script src="~/Scripts/Loginjs.js"></script>
    <script type="text/javascript">
        $('.bootstrap-switch').each(function () {
            $this = $(this);
            data_on_label = $this.data('on-label') || '';
            data_off_label = $this.data('off-label') || '';

            $this.bootstrapSwitch({
                onText: data_on_label,
                offText: data_off_label
            });
        });

    </script>
</body>
</html>






