@model BJProduction.Models.GroupViewfromUserList

@using (Html.BeginForm( new { id="UserGroupListSave"}))
{
    @Html.AntiForgeryToken()

    <div style="text-align:center">
        <h4>Choose Group for @Model.UserName</h4>
    </div>
<hr/>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

    <div class="table-responsive GroupsTableY">
        <div id="cont" class="fresh-table">
            <div class="toolbar">
                @Html.ActionLink("Back", "Index", new { id = "" }, new { @class = "btn btn-info" })
                @*<button class="btn btn-info" style="margin-left:1px;"><a href="javascript:document.getElementById('UserGroupListSave').submit()">Save</a></button>*@
            </div>

            <table id="fresh-table" class="table table-bordered  table-striped">
                <thead>

                <th data-field="ckb" data-sortable="false">
                    <input type="checkbox" name="" value=""/><span style="margin-left:5px;font-weight:700;color:black">All</span>
                </th>
                <th data-field="groupname" data-sortable="false">
                 Group Name
                </th>

                </thead>
                <tbody>
                    @foreach (var item in Model.GroupsList)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedGroups" value="@item.Value" checked="@item.Selected" />
                            </td>
                            <td>
                                @Html.Label(item.Text, new { @class = "grouptable" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
        <div class="form-group" style="padding-bottom:50px;text-align:left">
                <input type="submit" value="Save" class="btn btn-success" />
        </div>
}

@section scripts{
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;
        $().ready(function () {
            $table.bootstrapTable({
                toolbar: ".toolbar",
                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: false,
                pagination: false,
                striped: true,
                pageSize: 8,
                pageList: [8, 10, 25, 50, 100, 1000, 5000, 5000000, 500000000],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
    </script>
}


