@model BJProduction.Models.TransferOrderExt

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/index.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
@using (Html.BeginForm()) 
{
<div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Create</div>
                    <div class="btn-actions-pane-right actions-icon-btn">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-shadow btn btn-info" })
                    </div>
                </div>

    <div class="card-body">
    @Html.AntiForgeryToken()
    


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
<div class="col-md-12">
                            <div class="position-relative form-group">
            @Html.LabelFor(model => model.FromSite, htmlAttributes: new { @class = "" })
            
                @Html.EditorFor(model => model.FromSite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromSite, "", new { @class = "text-danger" })
            
</div>
</div>
        </div> <!--FormGroup-->

        <div class="form-row">
<div class="col-md-12">
                            <div class="position-relative form-group">
            @Html.LabelFor(model => model.FromWarehouse, htmlAttributes: new { @class = "" })
            
                @Html.EditorFor(model => model.FromWarehouse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromWarehouse, "", new { @class = "text-danger" })
            
</div>
</div>
        </div> <!--FormGroup-->

        <div class="form-row">
<div class="col-md-12">
                            <div class="position-relative form-group">
            @Html.LabelFor(model => model.ToSite, htmlAttributes: new { @class = "" })
            
                @Html.EditorFor(model => model.ToSite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ToSite, "", new { @class = "text-danger" })
            
</div>
</div>
        </div> <!--FormGroup-->

        <div class="form-row">
<div class="col-md-12">
                            <div class="position-relative form-group">
            @Html.LabelFor(model => model.ToWarehouse, htmlAttributes: new { @class = "" })
            
                @Html.EditorFor(model => model.ToWarehouse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ToWarehouse, "", new { @class = "text-danger" })
            
</div>
</div>
        </div> <!--FormGroup-->

      </div>
               <div class="d-block text-right card-footer">
                    <button type="submit" class="btn-wide btn btn-success">Save</button>
                </div>
}
        </div>
    </div>
</div>

