@model BJProduction.Models.TransferOrderExt

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransferOrderExt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromWarehouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromWarehouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToWarehouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToWarehouse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
