@model IEnumerable<BJProduction.Models.Production_Indent>

@{

    Layout = "~/Views/Shared/index.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Production Indent</div>
                <div class="btn-actions-pane-right actions-icon-btn">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn-shadow btn btn-info" })

                </div>
            </div>
            <div class="card-body">
                @{
                    string cls = "";
                    string ids = "";
                }

                @if (@Model.ToList().Count > 7)
                {
                    cls = "table table-hover table-striped table-bordered";
                    ids = "example";
                }
                else
                {
                    cls = "table table-bordered";
                    ids = "";
                }
                <table style="width: 100%;" id="@ids" class="@cls">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.indent_no)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_Type.type_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Machine.name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Shift.shift_code)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.batch_count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prod_count)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.indent_date);
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.shift_start)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowNumber = 1;
                        }
                        @foreach (var item in Model.Where(x => x.status != "C"))
                        {
                            <tr>
                                <th scope="row">@rowNumber</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.indent_no)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_Type.type_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Machine.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Shift.shift_code)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.batch_count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prod_count)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.indent_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shift_start)
                                </td>

                                <td align="right">
                                    @Html.ActionLink("Select", "Edit", new { id = item.id }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-info" })
                                    @*@Html.ActionLink("Close", "Details", new { id = item.id }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-danger" })*@
                                </td>
                            </tr>
                            rowNumber++;
                        }
                    </tbody>
                </table>
            </div>




        </div>
        <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Production Indent Completed</div>

            </div>
            <div class="card-body">
                @{
                    string clsC = "";
                    string idsC = "";
                }

                @if (@Model.ToList().Count > 7)
                {
                    clsC = "table table-hover table-striped table-bordered";
                    idsC = "example";
                }
                else
                {
                    clsC = "table table-bordered";
                    idsC = "";
                }
                <table style="width: 100%;" id="@idsC" class="@clsC">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.indent_no)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_Type.type_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Machine.name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Shift.shift_code)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.batch_count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prod_count)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.indent_date);
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.shift_start)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowNumberC = 1;
                        }
                        @foreach (var item in Model.Where(x => x.status == "C"))
                        {
                            <tr>
                                <th scope="row">@rowNumberC</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.indent_no)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_Type.type_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Machine.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Shift.shift_code)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.batch_count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prod_count)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.indent_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.shift_start)
                                </td>

                                <td align="right">
                                    @Html.ActionLink("Select", "Edit", new { id = item.id }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-info" })
                                    @*@Html.ActionLink("Close", "Details", new { id = item.id }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-danger" })*@
                                </td>
                            </tr>
                            rowNumberC++;
                        }
                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>















