@model BJProduction.Models.Purchase_Ledger

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Purchase_Ledger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.product_serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Order.order_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Order.order_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pur_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pur_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chged_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chged_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chgd_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chgd_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
