@model IEnumerable<BJProduction.Models.General_Ledger>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New T", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_Type.type_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_ref_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chged_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chgd_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_Type.type_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_ref_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chged_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chgd_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
