@model BJProduction.Models.Other_Consumption_Ledger

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Other_Consumption_Ledger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.product_serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cons_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cons_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other_consumption_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.other_consumption_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from_warehouse_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from_warehouse_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumption_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumption_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chged_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chged_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chgd_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chgd_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
