@model IEnumerable<BJProduction.Models.Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/index.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Machine</div>
                <div class="btn-actions-pane-right actions-icon-btn">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn-shadow btn btn-info" })
                </div>
            </div>
            <div class="card-body">
                @{
                    string cls = "";
                    string ids = "";
                }

                @if (@Model.ToList().Count > 7)
                {
                    cls = "table table-hover table-striped table-bordered";
                    ids = "example";
                }
                else
                {
                    cls = "table table-bordered";
                    ids = "";
                }
                <table style="width: 100%;" id="@ids" class="@cls">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company.Company_Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Machine_Type.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.chged_by)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.chgd_date)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowNumber = 1;
                        }
                        @foreach (var item in Model) 
                        {
                            <tr>
                                <th scope="row">@rowNumber</th>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Company_Code)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Location.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Machine_Type.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.chged_by)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.chgd_date)
                                </td>
                                <td>
                                    @Html.ActionLink("  Edit ", "Edit", new { id = item.id }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-info" })
                                    @Html.ActionLink("Details", "Details", new { id = item.id  }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-success" })
                                    @Html.ActionLink("Delete ", "Delete", new { id = item.id  }, new { @class = "mb-2 mr-2 btn btn-sm btn-outline-danger" })
                                </td>
                            </tr>
                            rowNumber++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
